@font-face {
    font-family: Calibri;
    src: url("Calibri.ttf") format("truetype"), url("Calibri.otf") format("opentype"), url("Calibri.woff") format("woff"), url("Calibri.woff2") format("woff2");
    font-family: Montserrat;
    src: url("Montserrat.ttf") format("truetype"), url("Montserrat.otf") format("opentype"), url("Montserrat.woff") format("woff"), url("Montserrat.woff2") format("woff2");
}

body {
    font-family: 'Calibri';
    color: black;
    background: #fff;
    font-size: 16px;
}

a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: rgb(189, 247, 255);
}

.head {
    max-width: 100%;
    position: relative;
    margin: 0 auto;
}

#header {
    padding-bottom: 1%;
    font-family: Montserrat;
    margin-left: 5%;
    background: #fff;
}

#githublink {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 0px;
    padding: 10px 50px 10px 10px;
    color: #fff;
    background: url('../img/github.png') #0090ff no-repeat 95% 50%;
    font-weight: 700;
    border-radius: 10px;
}

#title {
    font-family: monospace;
    padding-right: 3%;
    margin: 0;
    color: #1a1a1a;
    font-size: 42px;
    font-weight: 700;
    display: inline-block;
}

.navobj {
    text-transform: uppercase;
    color: #1a1a1a;
    font-weight: 600;
    display: inline-block;
    margin-left: 30px;
    font-size: 24px;
}

#main {
    background: #f2f2f2;
    position: relative;
}

#s1 {
    font-size: 24px;
    max-width: 95%;
    padding: 20px 10px;
    margin: 0 auto;
}

#s2 {
    text-align: center;
    font-size: 24px;
    max-width: 95%;
    padding: 20px 10px;
    margin: 0 auto;
}

#cTitle {
    font-size: 70px;
    text-align: center;
    margin: 20px;
}

#cHead {
    margin: 20px;
}

.cMathRels {
    border: none;
    border-radius: 4px;
    font-size: 18px;
    color: white;
    background-color: #0090ff;
    padding: 10px 24px;
    margin: 20px;
}

.heading {
    font-weight: 700;
    font-family: Montserrat;
    font-size: 36px;
}

.paragraph {
    font-family: 'Microsoft YaHei';
    font-size: 20px;
}

.coming-soon {
    max-width: 640px;
    font-family: 'Calibri';
    font-size: 60px;
    padding: 325px 10px;
    margin: 0 auto;
}

#contactlink {
    color: rgb(211, 159, 168);
    text-decoration: underline;
}

#pfp {
    border-radius: 360px;
}

#clickmain {
    color: black;
    border: solid;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.imgdesc {
    position: relative;
    margin: 0 auto;
}

#descobjs {
    position: absolute;
    padding-left: 5%;
    padding-top: 14%;
    display: inline-block;
    font-size: 24px;
}

#st2button {
    text-decoration: none;
    color: black;
    font-family: Montserrat;
    font-weight: 700;
    margin-left: 47%;
    padding: 10px 20px;
    background-color: #89ccff;
    border: none;
    border-radius: 7px;
}